:root {
    color-scheme: light dark;
}

body {
    /* width: 200px; */
    padding: 10px;

    font-family: system-ui;
    text-align: center;
    background-color: black;
    /* margin: 0 auto; */
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}


#openNewTabBtn{
    margin-top: 50px;
}

#loader{
    /* width: 50%;
    height: 50%; */
    display: block;
    margin: auto;
    padding: 20px 0;
}