label {
    /* background-color: white; */
    font-weight: bold;
    margin-right: 10px;
    margin-top: 200px;
  }
  
  #container {
    height: 600px;
    margin-top: 2px;
    border: 2px solid orange;
    box-sizing: content-box;
  }
  canvas {
    /* all four are needed to support the most browsers */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  
    position: absolute;
    top: 0;
    left: 0;
    overflow: none;
  }
  .css-outline {
      outline: 1px solid magenta;
      fill: blue;
  }
  .fieldset-auto-width {
      margin-top:4px;
      margin-left:40px;
      display: inline-block;
  }